<html>
    <head>

    </head>
    <body>
        <a href="/"><h1>Keypoint</h1></a>
        <hr>
        <h3>Edit page</h3>
        <div>
            <%= id %>
        </div>
    </body>
</html>