<html>
    <head>
    </head>
    <body>
        <a href="/"><h1>Keypoint</h1></a>
        <hr>
        <h3>Home page</h3>
        <div>
            <li><a href="/main">Main Page</a></li>
            <li><a href="/register">Register Page</a></li>
        </div>
    </body>
</html>